# Intro

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import os
import glob
from datetime import datetime
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
gas_coldhot = r'K:\PERSONNEL\Bernat\For Victor\COPERT_speed\gasoline\coldhot_all\*\*' # lab 4 gasoline veh
die_coldhot = r'K:\PERSONNEL\Bernat\For Victor\COPERT_speed\diesel\coldhot_all\*\*' # Lab 8 diesel veh

# Gasoline

In [6]:
### NEDC COLD ### 

#os.chdir(gas_coldhot)

dic_nedccold = {}
for file in glob.glob(gas_coldhot + "*NEDC*COLD*.xl*"):         # THIS CAN BE XLS OR XLSX, check
    try:
        print(file.split('\\')[-1])
        df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
        df = df.dropna(axis=0, how='all')

        NOx = df['c_NOx_Dil_g_vec\n[grams]']
        NOx_sum = NOx.sum()*1000
        CO2 = df['c_CO2_Dil_g_vec\n[grams]']
        CO2_sum = CO2.sum()
        t = len(df.index)

        NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
        NOx_start_sum = NOx_start.sum()*1000
        CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
        CO2_start_sum = CO2_start.sum()
        t_start = 300

        NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
        NOx_end_sum = NOx_end.sum()*1000
        CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
        CO2_end_sum = CO2_end.sum()
        t_end = t - t_start
    except:
        #print(file.split('\\')[-1])
        df = pd.read_excel(file, sheetname=0, header=None)

        vals = df.values
        mux = pd.MultiIndex.from_arrays(df.ffill(1).values[:2, 1:], names=[None, 'Time'])   # trick to create the proper MultiIndex
        df = pd.DataFrame(df.values[2:, 1:], df.values[2:, 0], mux)                         # same here

        df.drop(df.index[[0,1]],inplace=True)                                               # remove the 2 first rows after the headers

        NOx = df['Diluted grams']['NOx']
        NOx_sum = NOx.sum()*1000
        CO2 = df['Diluted grams']['CO2']
        CO2_sum = CO2.sum()
        t = len(df.index)

        NOx_start = df['Diluted grams']['NOx'][0:300]
        NOx_start_sum = NOx_start.sum()*1000
        CO2_start = df['Diluted grams']['CO2'][0:300]
        CO2_start_sum = CO2_start.sum()
        t_start = 300

        NOx_end = df['Diluted grams']['NOx'][300:len(df.index)]
        NOx_end_sum = NOx_end.sum()*1000
        CO2_end = df['Diluted grams']['CO2'][300:len(df.index)]
        CO2_end_sum = CO2_end.sum()
        t_end = t - t_start
        
    dic_nedccold[file] = [NOx_sum,CO2_sum,t,
                          NOx_start_sum,CO2_start_sum,t_start,
                          NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary
    

lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_nedccold, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_nedccold_g = lab

lab_nedccold_g['new index'] = [i.split('\\')[-2] for i in lab_nedccold_g.index.values]
lab_nedccold_g.set_index('new index')

VELA2_08032017_001_Modal_TEST NEDC_COLD_FWD-sync_23°C.xls
VELA2_09032017_001_Modal_TEST NEDC_COLD_FWD-sync_23°C.xls
VELA2_15032017_003_Modal_TEST NEDC_COLD_FWD-sync_23°C.xls
VELA2_22032017_001_Modal_DIL_NEDC_COLD_FWD-sync_23°C.xlsx
VELA2_23032017_001_Modal_DIL_NEDC_COLD_FWD-sync_23°C.xlsx
VELA2_29032017_001_Modal_DIL_NEDC_COLD_FWD-sync_23°C.xlsx
V8_171002_OL001_NEDC_01_COLD_23.xlsx
V8_171003_OL001_NEDC_01_COLD_23.xlsx
VELA2_10112017_001_NEDC_COLD_Modal_DIL_RWD-sync_23°C.xlsx
VELA2_13112017_001_NEDC_COLD_Modal_DIL_RWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,119.595333,1239.808018,1181,88.969188,222.255925,300,30.626145,1017.552093,881
Audi_A1,131.447090,1305.182177,1181,113.520931,249.495647,300,17.926159,1055.686530,881
Audi_A1,128.831823,1257.543552,1180,86.425220,235.075149,300,42.406604,1022.468403,880
Fiat_Panda,62.637444,1435.276182,1180,38.568920,276.930745,300,24.068524,1158.345437,880
Fiat_Panda,37.742330,1392.558639,1181,21.192427,276.675461,300,16.549904,1115.883177,881
Fiat_Panda,34.144060,1437.473352,1181,21.997415,274.584285,300,12.146645,1162.889067,881
Opel_Astra,128.285776,1423.280973,1181,54.241158,271.588402,300,74.044618,1151.692571,881
Opel_Astra,94.247189,1454.051354,1181,56.461903,271.245102,300,37.785286,1182.806252,881
Renault_Twingo,61.149200,1298.728291,1181,28.399643,240.749744,300,32.749557,1057.978547,881
Renault_Twingo,40.319514,1355.884842,1181,33.986595,261.870623,300,6.332919,1094.014219,881

In [7]:
lab_nedccold_g=lab_nedccold_g.groupby(lab_nedccold_g['new index']).mean()
lab_nedccold_g

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,126.624749,1267.511249,1180.666667,96.305113,235.608907,300.0,30.319636,1031.902342,880.666667
Fiat_Panda,44.841278,1421.769391,1180.666667,27.252920,276.063497,300.0,17.588358,1145.705894,880.666667
Opel_Astra,111.266483,1438.666163,1181.000000,55.351530,271.416752,300.0,55.914952,1167.249412,881.000000
Renault_Twingo,50.734357,1327.306566,1181.000000,31.193119,251.310183,300.0,19.541238,1075.996383,881.000000

In [8]:
### WLTP COLD ### 


dic_wltpcold = {}
for file in glob.glob(gas_coldhot + "*WLT*COLD*.xl*"):                                                          # THIS CAN BE XLS OR XLSX, check
    print(file.split('\\')[-1])
    df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
    df = df.dropna(axis=0, how='all')
    
    NOx = df['c_NOx_Dil_g_vec\n[grams]']
    NOx_sum = NOx.sum()*1000
    CO2 = df['c_CO2_Dil_g_vec\n[grams]']
    CO2_sum = CO2.sum()
    t = len(df.index)

    NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
    NOx_start_sum = NOx_start.sum()*1000
    CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
    CO2_start_sum = CO2_start.sum()
    t_start = 300

    NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
    NOx_end_sum = NOx_end.sum()*1000
    CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
    CO2_end_sum = CO2_end.sum()
    t_end = t - t_start

    dic_wltpcold[file] = [NOx_sum,CO2_sum,t,
                          NOx_start_sum,CO2_start_sum,t_start,
                          NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary
    

lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_wltpcold, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_wltpcold_g = lab

lab_wltpcold_g['new index'] = [i.split('\\')[-2] for i in lab_wltpcold_g.index.values]
lab_wltpcold_g.set_index('new index')

VELA2_10032017_001_Modal_TEST WLTP_COLD_FWD-sync_23°C.xls
VELA2_14032017_001_Modal_TEST WLTP_COLD_FWD-sync_23°C.xls
VELA2_24032017_001_Modal_DIL_WLTP_COLD_FWD-sync_23°C.xlsx
VELA2_28032017_001_Modal_DIL_WLTP_COLD_FWD-sync_23°C.xlsx
VELA2_13102017_002_Modal_WLTC_COLD_FWD_23°C.xls
VELA2_16102017_001_Modal_WLTC_COLD_FWD_23°C.xls
VELA2_17102017_001_Modal_WLTC_COLD_FWD_23°C.xls
VELA2_19102017_001_Modal_WLTC_COLD_FWD_23°C.xls
VELA2_20102017_001_Modal_WLTC_COLD_FWD_23°C.xls
VELA2_14112017_001_WLTC_COLD_Modal_DIL_RWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,1970.890928,2881.970384,1801,150.386603,312.218766,300,1820.504325,2569.751619,1501
Audi_A1,1403.805326,2917.331457,1800,140.553365,326.263188,300,1263.251962,2591.068269,1500
Fiat_Panda,150.581633,3159.208879,1801,93.558949,334.870979,300,57.022683,2824.337900,1501
Fiat_Panda,191.975571,3166.143030,1801,108.546525,333.878248,300,83.429046,2832.264782,1501
Opel_Astra,2418.969203,3305.667102,1801,553.170773,325.099699,300,1865.798429,2980.567403,1501
Opel_Astra,1212.552942,3370.639903,1801,180.004625,356.996577,300,1032.548318,3013.643327,1501
Opel_Astra,1182.463365,3469.908188,1801,151.768159,365.540511,300,1030.695206,3104.367677,1501
Opel_Astra,725.533052,3384.004981,1801,107.981736,362.094106,300,617.551316,3021.910876,1501
Opel_Astra,1329.680161,2398.101847,1800,180.059892,205.579407,300,1149.620269,2192.522440,1500
Renault_Twingo,232.065564,3045.888238,1800,23.568140,343.797529,300,208.497423,2702.090708,1500

In [9]:
lab_wltpcold_g=lab_wltpcold_g.groupby(lab_wltpcold_g['new index']).mean()
lab_wltpcold_g

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,1687.348127,2899.650921,1800.5,145.469984,319.240977,300.0,1541.878143,2580.409944,1500.5
Fiat_Panda,171.278602,3162.675954,1801.0,101.052737,334.374614,300.0,70.225864,2828.301341,1501.0
Opel_Astra,1373.839745,3185.664404,1800.8,234.597037,323.062060,300.0,1139.242708,2862.602344,1500.8
Renault_Twingo,232.065564,3045.888238,1800.0,23.568140,343.797529,300.0,208.497423,2702.090708,1500.0

In [10]:
### NEDC HOT ### 


dic_nedchot = {}
for file in glob.glob(gas_coldhot + "*NEDC*HOT*.xl*"):                                                          # THIS CAN BE XLS OR XLSX, check
    try:
        print(file.split('\\')[-1])
        df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
        df = df.dropna(axis=0, how='all')

        NOx = df['c_NOx_Dil_g_vec\n[grams]']
        NOx_sum = NOx.sum()*1000
        CO2 = df['c_CO2_Dil_g_vec\n[grams]']
        CO2_sum = CO2.sum()
        t = len(df.index)

        NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
        NOx_start_sum = NOx_start.sum()*1000
        CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
        CO2_start_sum = CO2_start.sum()
        t_start = 300

        NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
        NOx_end_sum = NOx_end.sum()*1000
        CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
        CO2_end_sum = CO2_end.sum()
        t_end = t - t_start
    except:
        #print(file.split('\\')[-1])
        df = pd.read_excel(file, sheetname=0, header=None)

        vals = df.values
        mux = pd.MultiIndex.from_arrays(df.ffill(1).values[:2, 1:], names=[None, 'Time'])   # trick to create the proper MultiIndex
        df = pd.DataFrame(df.values[2:, 1:], df.values[2:, 0], mux)                         # same here

        df.drop(df.index[[0,1]],inplace=True)                                               # remove the 2 first rows after the headers

        NOx = df['Diluted grams']['NOx']
        NOx_sum = NOx.sum()*1000
        CO2 = df['Diluted grams']['CO2']
        CO2_sum = CO2.sum()
        t = len(df.index)

        NOx_start = df['Diluted grams']['NOx'][0:300]
        NOx_start_sum = NOx_start.sum()*1000
        CO2_start = df['Diluted grams']['CO2'][0:300]
        CO2_start_sum = CO2_start.sum()
        t_start = 300

        NOx_end = df['Diluted grams']['NOx'][300:len(df.index)]
        NOx_end_sum = NOx_end.sum()*1000
        CO2_end = df['Diluted grams']['CO2'][300:len(df.index)]
        CO2_end_sum = CO2_end.sum()
        t_end = t - t_start
        
    dic_nedchot[file] = [NOx_sum,CO2_sum,t,
                          NOx_start_sum,CO2_start_sum,t_start,
                          NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary

lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_nedchot, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_nedchot_g = lab

lab_nedchot_g['new index'] = [i.split('\\')[-2] for i in lab_nedchot_g.index.values]
lab_nedchot_g.set_index('new index')

VELA2_08032017_002_Modal_TEST NEDC_HOT_FWD-sync_23°C.xls
VELA2_09032017_002_Modal_TEST NEDC_HOT_FWD-sync_23°C.xls
VELA2_22032017_002_Modal_DIL_NEDC_HOT_FWD-sync_23°C.xlsx
VELA2_23032017_002_Modal_DIL_NEDC_HOT_FWD-sync_23°C.xlsx
V8_171003_OL001_NEDC_02_HOT_23.xlsx
V8_171003_OL001_NEDC_03_HOT_23.xlsx
VELA2_10112017_002_NEDC_HOT_Modal_DIL_RWD-sync_23°C.xlsx
VELA2_13112017_002_NEDC_HOT_Modal_DIL_RWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,40.110933,1199.427355,1181,6.016455,177.078319,300,34.094478,1022.349037,881
Audi_A1,31.411214,1208.546871,1181,10.862814,187.398083,300,20.548400,1021.148788,881
Fiat_Panda,39.551046,1362.435028,1180,0.208751,228.093344,300,39.342295,1134.341683,880
Fiat_Panda,32.249875,1346.067475,1180,1.455834,222.254799,300,30.794041,1123.812676,880
Opel_Astra,101.272792,1295.679725,1181,17.838103,211.196577,300,83.434689,1084.483148,881
Opel_Astra,87.025575,1296.408892,1181,15.154116,206.261258,300,71.871459,1090.147634,881
Renault_Twingo,76.077281,1227.936782,1181,22.003547,201.013765,300,54.073734,1026.923017,881
Renault_Twingo,42.272174,1285.450396,1180,9.481774,209.006818,300,32.790400,1076.443578,880

In [11]:
lab_nedchot_g=lab_nedchot_g.groupby(lab_nedchot_g['new index']).mean()
lab_nedchot_g

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,35.761074,1203.987113,1181.0,8.439635,182.238201,300.0,27.321439,1021.748912,881.0
Fiat_Panda,35.900461,1354.251251,1180.0,0.832293,225.174072,300.0,35.068168,1129.077179,880.0
Opel_Astra,94.149184,1296.044308,1181.0,16.496110,208.728917,300.0,77.653074,1087.315391,881.0
Renault_Twingo,59.174728,1256.693589,1180.5,15.742661,205.010291,300.0,43.432067,1051.683297,880.5

In [12]:
### WLTP HOT ### 


dic_wltphot = {}
for file in glob.glob(gas_coldhot + "*WLT*HOT*.xl*"):                                                          # THIS CAN BE XLS OR XLSX, check
    print(file.split('\\')[-1])
    df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
    df = df.dropna(axis=0, how='all')
    
    NOx = df['c_NOx_Dil_g_vec\n[grams]']
    NOx_sum = NOx.sum()*1000
    CO2 = df['c_CO2_Dil_g_vec\n[grams]']
    CO2_sum = CO2.sum()
    t = len(df.index)

    NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
    NOx_start_sum = NOx_start.sum()*1000
    CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
    CO2_start_sum = CO2_start.sum()
    t_start = 300

    NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
    NOx_end_sum = NOx_end.sum()*1000
    CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
    CO2_end_sum = CO2_end.sum()
    t_end = t - t_start
    
    dic_wltphot[file] = [NOx_sum,CO2_sum,t,
                        NOx_start_sum,CO2_start_sum,t_start,
                        NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary


lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_wltphot, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_wltphot_g = lab

lab_wltphot_g['new index'] = [i.split('\\')[-2] for i in lab_wltphot_g.index.values]
lab_wltphot_g.set_index('new index')

VELA2_10032017_002_Modal_TEST WLTP_HOT_FWD-sync_23°C.xls
VELA2_14032017_002_Modal_TEST WLTP_HOT_FWD-sync_23°C.xls
VELA2_24032017_002_Modal_DIL_WLTP_HOT_FWD-sync_23°C.xlsx
VELA2_28032017_002_Modal_DIL_WLTP_HOT_FWD-sync_23°C.xlsx
VELA2_13102017_001_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_16102017_002_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_16102017_004_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_17102017_002_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_17102017_004_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_18102017_002_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_18102017_003_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_18102017_004_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_19102017_003_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_20102017_005_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_23102017_002_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_23102017_004_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_24102017_002_Modal_WLTC_HOT_FWD_23°C.xls
VELA2_15112017_002_Modal_WLTC_HOT_RWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,2150.377395,2874.227096,1801,147.021698,270.471965,300,2003.355697,2603.755131,1501
Audi_A1,1421.410939,2881.177055,1800,81.042703,268.845840,300,1340.368236,2612.331215,1500
Fiat_Panda,125.007900,3099.511840,1801,18.977377,286.726800,300,106.030524,2812.785040,1501
Fiat_Panda,96.560502,3126.679803,1801,12.342027,290.552308,300,84.218475,2836.127494,1501
Opel_Astra,3387.350552,3265.361246,1801,449.043351,300.840652,300,2938.307202,2964.520595,1501
Opel_Astra,1555.962326,3404.468367,1801,194.794359,334.279145,300,1361.167967,3070.189222,1501
Opel_Astra,1720.736781,3409.804315,1801,55.450959,334.331249,300,1665.285822,3075.473067,1501
Opel_Astra,1844.574948,3436.300763,1800,191.112451,328.731489,300,1653.462496,3107.569274,1500
Opel_Astra,2190.483705,3372.994479,1801,311.074604,340.013700,300,1879.409101,3032.980779,1501
Opel_Astra,1518.562826,3427.700753,1802,150.012831,352.927083,300,1368.549994,3074.773670,1502
Opel_Astra,1943.091560,3408.729743,1800,27.067452,348.237428,300,1916.024109,3060.492315,1500
Opel_Astra,1972.941611,3438.044609,1801,270.452575,352.687022,300,1702.489036,3085.357587,1501
Opel_Astra,1820.374697,3427.016121,1801,134.311066,328.564015,300,1686.063631,3098.452106,1501
Opel_Astra,2381.743108,2438.625615,1801,222.022083,173.956245,300,2159.721025,2264.669369,1501
Opel_Astra,1098.610493,3447.229736,1801,19.567534,351.033468,300,1079.042959,3096.196268,1501
Opel_Astra,2160.371948,3400.012658,1801,362.861708,331.462744,300,1797.510239,3068.549914,1501
Opel_Astra,1449.750993,3404.650175,1801,195.175860,328.539948,300,1254.575132,3076.110227,1501
Renault_Twingo,291.519777,2956.089552,1801,100.926420,295.988694,300,190.593357,2660.100859,1501

In [13]:
lab_wltphot_g=lab_wltphot_g.groupby(lab_wltphot_g['new index']).mean()
lab_wltphot_g

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A1,1785.894167,2877.702075,1800.500000,114.032200,269.658903,300.0,1671.861967,2608.043173,1500.500000
Fiat_Panda,110.784201,3113.095821,1801.000000,15.659702,288.639554,300.0,95.124499,2824.456267,1501.000000
Opel_Astra,1926.504273,3329.302968,1800.923077,198.688218,323.508014,300.0,1727.816055,3005.794953,1500.923077
Renault_Twingo,291.519777,2956.089552,1801.000000,100.926420,295.988694,300.0,190.593357,2660.100859,1501.000000

In [21]:
print('-------------------------------------------')
print('-------------- GASOLINE NOx ---------------')
print('-------------------------------------------')
print('')

print('NEDC COLD (full test) = '+ str(round(lab_nedccold_g.NOx.mean(),2)) + ' mg')
print('NEDC COLD (start) = '+ str(round(lab_nedccold_g.NOx_start.mean(),2)) + ' mg')
print('NEDC COLD (start/full) = '+ 
      str(round(lab_nedccold_g.NOx_start.mean()*100/lab_nedccold_g.NOx.mean(),2)) + ' %')
print('')

print('NEDC HOT (full test) = '+ str(round(lab_nedchot_g.NOx.mean(),2)) + ' mg')
print('NEDC HOT (start) = '+ str(round(lab_nedchot_g.NOx_start.mean(),2)) + ' mg')
print('NEDC HOT (start/full) = '+ 
      str(round(lab_nedchot_g.NOx_start.mean()*100/lab_nedchot_g.NOx.mean(),2)) + ' %')
print('')
print('')#-------------------------------------------')
print('')

print('WLTP COLD (full test) = '+ str(round(lab_wltpcold_g.NOx.mean(),2)) + ' mg')
print('WLTP COLD (start) = '+ str(round(lab_wltpcold_g.NOx_start.mean(),2)) + ' mg')
print('WLTP COLD (start/full) = '+ 
      str(round(lab_wltpcold_g.NOx_start.mean()*100/lab_wltpcold_g.NOx.mean(),2)) + ' %')
print('')

print('WLTP HOT (full test) = '+ str(round(lab_wltphot_g.NOx.mean(),2)) + ' mg')
print('WLTP HOT (start) = '+ str(round(lab_wltphot_g.NOx_start.mean(),2)) + ' mg')
print('WLTP HOT (start/full) = '+ 
      str(round(lab_wltphot_g.NOx_start.mean()*100/lab_wltphot_g.NOx.mean(),2)) + ' %')
print('')
print('')
print('')

print('NEDC HOT/COLD = '+ str(round(lab_nedchot_g.NOx.mean()/lab_nedccold_g.NOx.mean(),2)) + ' ')
print('WLTP HOT/COLD = '+ str(round(lab_wltphot_g.NOx.mean()/lab_wltpcold_g.NOx.mean(),2)) + ' ')
print('')
print('WLTP/NEDC COLD = '+ str(round(lab_wltpcold_g.NOx.mean()/lab_nedccold_g.NOx.mean(),2)) + ' (double distance)')
print('WLTP/NEDC HOT = '+ str(round(lab_wltphot_g.NOx.mean()/lab_nedchot_g.NOx.mean(),2)) + ' (double distance)')

-------------------------------------------
-------------- GASOLINE NOx ---------------
-------------------------------------------

NEDC COLD (full test) = 83.37 mg
NEDC COLD (start) = 52.53 mg
NEDC COLD (start/full) = 63.01 %

NEDC HOT (full test) = 56.25 mg
NEDC HOT (start) = 10.38 mg
NEDC HOT (start/full) = 18.45 %



WLTP COLD (full test) = 866.13 mg
WLTP COLD (start) = 126.17 mg
WLTP COLD (start/full) = 14.57 %

WLTP HOT (full test) = 1028.68 mg
WLTP HOT (start) = 107.33 mg
WLTP HOT (start/full) = 10.43 %



NEDC HOT/COLD = 0.67
WLTP HOT/COLD = 1.19

WLTP/NEDC COLD = 10.39 (double distance)
WLTP/NEDC HOT = 18.29 (double distance)

In [22]:
print('-------------------------------------------')
print('-------------- GASOLINE CO2 ---------------')
print('-------------------------------------------')
print('')

print('NEDC COLD (full test) = '+ str(round(lab_nedccold_g.CO2.mean(),0)) + ' g')
print('NEDC COLD (start) = '+ str(round(lab_nedccold_g.CO2_start.mean(),0)) + ' g')
print('NEDC COLD (start/full) = '+ 
      str(round(lab_nedccold_g.CO2_start.mean()*100/lab_nedccold_g.CO2.mean(),1)) + ' %')
print('')

print('NEDC HOT (full test) = '+ str(round(lab_nedchot_g.CO2.mean(),0)) + ' g')
print('NEDC HOT (start) = '+ str(round(lab_nedchot_g.CO2_start.mean(),0)) + ' g')
print('NEDC HOT (start/full) = '+ 
      str(round(lab_nedchot_g.CO2_start.mean()*100/lab_nedchot_g.CO2.mean(),1)) + ' %')
print('')
print('')#-------------------------------------------')
print('')

print('WLTP COLD (full test) = '+ str(round(lab_wltpcold_g.CO2.mean(),0)) + ' g')
print('WLTP COLD (start) = '+ str(round(lab_wltpcold_g.CO2_start.mean(),0)) + ' g')
print('WLTP COLD (start/full) = '+ 
      str(round(lab_wltpcold_g.CO2_start.mean()*100/lab_wltpcold_g.CO2.mean(),1)) + ' %')
print('')

print('WLTP HOT (full test) = '+ str(round(lab_wltphot_g.CO2.mean(),0)) + ' g')
print('WLTP HOT (start) = '+ str(round(lab_wltphot_g.CO2_start.mean(),0)) + ' g')
print('WLTP HOT (start/full) = '+ 
      str(round(lab_wltphot_g.CO2_start.mean()*100/lab_wltphot_g.CO2.mean(),1)) + ' %')
print('')
print('')
print('')

print('NEDC HOT/COLD = '+ str(round(lab_nedchot_g.CO2.mean()/lab_nedccold_g.CO2.mean(),2)) + ' ')
print('WLTP HOT/COLD = '+ str(round(lab_wltphot_g.CO2.mean()/lab_wltpcold_g.CO2.mean(),2)) + ' ')
print('')
print('WLTP/NEDC COLD = '+ str(round(lab_wltpcold_g.CO2.mean()/lab_nedccold_g.CO2.mean(),2)) + ' (double distance)')
print('WLTP/NEDC HOT = '+ str(round(lab_wltphot_g.CO2.mean()/lab_nedchot_g.CO2.mean(),2)) + ' (double distance)')

-------------------------------------------
-------------- GASOLINE CO2 ---------------
-------------------------------------------

NEDC COLD (full test) = 1364.0 g
NEDC COLD (start) = 259.0 g
NEDC COLD (start/full) = 19.0 %

NEDC HOT (full test) = 1278.0 g
NEDC HOT (start) = 205.0 g
NEDC HOT (start/full) = 16.1 %



WLTP COLD (full test) = 3073.0 g
WLTP COLD (start) = 330.0 g
WLTP COLD (start/full) = 10.7 %

WLTP HOT (full test) = 3069.0 g
WLTP HOT (start) = 294.0 g
WLTP HOT (start/full) = 9.6 %



NEDC HOT/COLD = 0.94
WLTP HOT/COLD = 1.0

WLTP/NEDC COLD = 2.25 (double distance)
WLTP/NEDC HOT = 2.4 (double distance)

# Diesel

In [23]:
### NEDC COLD ### 


dic_nedccold = {}
for file in glob.glob(die_coldhot + "*NEDC*COLD*.xl*"):                                                          # THIS CAN BE XLS OR XLSX, check
    print(file.split('\\')[-1])
    df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
    df = df.dropna(axis=0, how='all')
    
    NOx = df['c_NOx_Dil_g_vec\n[grams]']
    NOx_sum = NOx.sum()*1000
    CO2 = df['c_CO2_Dil_g_vec\n[grams]']
    CO2_sum = CO2.sum()
    t = len(df.index)

    NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
    NOx_start_sum = NOx_start.sum()*1000
    CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
    CO2_start_sum = CO2_start.sum()
    t_start = 300

    NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
    NOx_end_sum = NOx_end.sum()*1000
    CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
    CO2_end_sum = CO2_end.sum()
    t_end = t - t_start

    dic_nedccold[file] = [NOx_sum,CO2_sum,t,
                        NOx_start_sum,CO2_start_sum,t_start,
                        NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary
    

lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_nedccold, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_nedccold_d = lab

lab_nedccold_d['new index'] = [i.split('\\')[-2] for i in lab_nedccold_d.index.values]
lab_nedccold_d.set_index('new index')

VELA2_13072016_001_Modal_NEDC_COLD_4WD_23C.xls
VELA2_14072016_002_Modal_NEDC_COLD_4WD_23C.xls
VELA2_15072016_004_Modal_NEDC_COLD_FWDsync_23C.xls
VELA2_18072016_001_Modal_NEDC_COLD_FWDsync_23C.xls
VELA2_18072016_002_Modal_NEDC_COLD_FWDsync_23C.xls
VELA2_03102017_001_Modal_NEDC_COLD_RWD-sync_23°C.xlsx
VELA2_09102017_001_Modal_NEDC_COLD_RWD-sync_23°C.xlsx
VELA2_01072016_003_Modal_TP_NEDC_COLD_FWD_23C.xls
VELA2_05072016_001_Modal_NEDC_COLD_FWD_23C.xls
VELA2_06072016_004_Modal_NEDC_COLD_FWD_23C.xls
VELA2_12072016_001_Modal_NEDC_COLD_FWD_23C.xls
VELA2_30062016_001_Modal_TP_NEDC_COLD_FWD_23C.xls
VELA2_05042017_001_Modal_DIL_NEDC_COLD START_4WD_23°C.xls
VELA2_05042017_002_Modal_DIL_NEDC_COLD START_4WD_23°C.xls
VELA2_06042017_001_Modal_DIL_NEDC_COLD START_4WD_23°C.xls
VELA2_06042017_003_Modal_DIL_NEDC_COLD START_4WD_23°C.xls
VELA2_24082017_002_Modal_DIL_NEDC_COLD START_4WD_23°C.xls
VELA2_07122017_001_Modal_NEDC_COLD_FWD-sync_23°C.xlsx
VELA2_30112017_001_Modal_TP_NEDC_COLD_FWD-sync_23°C.xlsx
VELA2_11082017_001_Modal_NEDC_COLD_FWD-sync_23°C.xls
VELA2_21082017_002_Modal_NEDC_COLD_FWD-sync_23°C.xls
VELA2_02082017_001_Modal_NEDC_COLD_4WD_23°C.xlsx
VELA2_03082017_003_Modal_NEDC_COLD_4WD_23°C.xlsx
VELA2_04082017_003_Modal_NEDC_COLD_4WD_23°C.xlsx
VELA2_10082017_001_Modal_NEDC_COLD_4WD_23°C.xlsx
VELA2_02052017_001_Modal_DIL_NEDC_COLD_FWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,1302.129074,1784.496598,1181,187.097556,285.337384,300,1115.031518,1499.159214,881
Audi_A3,1108.487527,1833.163254,1180,145.000303,321.100213,300,963.487224,1512.063041,880
Audi_A3,846.025564,1640.981334,1181,129.124547,264.767020,300,716.901016,1376.214314,881
Audi_A3,751.923961,1623.386792,1181,114.488878,275.838805,300,637.435082,1347.547987,881
Audi_A3,578.318738,1640.703516,1181,82.929014,268.066229,300,495.389724,1372.637286,881
BMW_530d,159.047949,1522.817394,1180,22.146575,265.857397,300,136.901374,1256.959998,880
BMW_530d,169.714033,1588.278844,1181,16.315188,294.863607,300,153.398845,1293.415237,881
Citroen_Cactus,252.084372,1270.980273,1181,107.689027,210.916164,300,144.395346,1060.064108,881
Citroen_Cactus,293.927245,1256.816182,1181,109.663348,207.504561,300,184.263896,1049.311621,881
Citroen_Cactus,416.996849,1259.665540,1181,95.038497,204.819472,300,321.958353,1054.846068,881
Citroen_Cactus,401.347454,1236.442234,1181,118.798912,195.799101,300,282.548541,1040.643132,881
Citroen_Cactus,240.555664,1272.109328,1181,109.893555,213.202876,300,130.662109,1058.906452,881
Fiat_500x,995.593755,2125.754922,1181,158.625526,345.997893,300,836.968229,1779.757029,881
Fiat_500x,1134.011483,2142.339866,1181,126.023693,349.763740,300,1007.987790,1792.576126,881
Fiat_500x,5584.347637,2524.056690,1181,189.383085,342.511418,300,5394.964552,2181.545272,881
Fiat_500x,1214.370435,2112.388370,1181,212.236511,336.816386,300,1002.133924,1775.571984,881
Fiat_500x,1702.912198,1482.550963,1181,463.103049,268.235511,300,1239.809149,1214.315453,881
Kia_Sportage,384.247942,1388.189097,1181,92.092874,252.315620,300,292.155068,1135.873477,881
Kia_Sportage,467.583135,1477.200322,1181,97.181445,256.882017,300,370.401690,1220.318305,881
Peugeot_Partner,147.995508,1286.231909,1181,80.137240,206.345633,300,67.858268,1079.886276,881
Peugeot_Partner,149.345919,1267.384003,1181,77.333447,193.743749,300,72.012472,1073.640254,881
Porsche_Cayenne,348.286774,2153.067343,1181,144.084493,370.397206,300,204.202281,1782.670137,881
Porsche_Cayenne,557.134543,2196.034072,1181,181.145250,414.576396,300,375.989293,1781.457676,881
Porsche_Cayenne,496.772154,2130.264234,1181,155.127888,369.700426,300,341.644266,1760.563807,881
Porsche_Cayenne,414.271016,2099.840268,1181,163.727663,363.031587,300,250.543353,1736.808681,881
VW_Golf,177.174926,1321.086825,1181,18.938569,230.541193,300,158.236357,1090.545632,881

In [24]:
lab_nedccold_d=lab_nedccold_d.groupby(lab_nedccold_d['new index']).mean()
lab_nedccold_d

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,917.376973,1704.546299,1180.8,131.728060,283.021930,300.0,785.648913,1421.524368,880.8
BMW_530d,164.380991,1555.548119,1180.5,19.230882,280.360502,300.0,145.150109,1275.187617,880.5
Citroen_Cactus,320.982317,1259.202711,1181.0,108.216668,206.448435,300.0,212.765649,1052.754276,881.0
Fiat_500x,2126.247101,2077.418162,1181.0,229.874373,328.664990,300.0,1896.372729,1748.753173,881.0
Kia_Sportage,425.915538,1432.694709,1181.0,94.637159,254.598819,300.0,331.278379,1178.095891,881.0
Peugeot_Partner,148.670713,1276.807956,1181.0,78.735343,200.044691,300.0,69.935370,1076.763265,881.0
Porsche_Cayenne,454.116122,2144.801479,1181.0,161.021324,379.426404,300.0,293.094798,1765.375075,881.0
VW_Golf,177.174926,1321.086825,1181.0,18.938569,230.541193,300.0,158.236357,1090.545632,881.0

In [25]:
### WLTP COLD ### 


dic_wltpcold = {}
for file in glob.glob(die_coldhot + "*WLT*COLD*.xl*"):                                                          # THIS CAN BE XLS OR XLSX, check
    print(file.split('\\')[-1])
    df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
    df = df.dropna(axis=0, how='all')
    
    NOx = df['c_NOx_Dil_g_vec\n[grams]']
    NOx_sum = NOx.sum()*1000
    CO2 = df['c_CO2_Dil_g_vec\n[grams]']
    CO2_sum = CO2.sum()
    t = len(df.index)

    NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
    NOx_start_sum = NOx_start.sum()*1000
    CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
    CO2_start_sum = CO2_start.sum()
    t_start = 300

    NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
    NOx_end_sum = NOx_end.sum()*1000
    CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
    CO2_end_sum = CO2_end.sum()
    t_end = t - t_start
    
    dic_wltpcold[file] = [NOx_sum,CO2_sum,t,
                        NOx_start_sum,CO2_start_sum,t_start,
                        NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary

lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_wltpcold, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_wltpcold_d = lab

lab_wltpcold_d['new index'] = [i.split('\\')[-2] for i in lab_wltpcold_d.index.values]
lab_wltpcold_d.set_index('new index')

VELA2_14072016_001_Modal_WLTP_COLD_4WD_23C.xls
VELA2_05102017_001_Modal_WLTC_COLD_RWD-sync_23°C.xlsx
VELA2_06102017_001_Modal_WLTC_COLD_RWD-sync_23°C.xlsx
VELA2_05072016_004_Modal_WLTP_COLD_FW_23C.xls
VELA2_06072016_001_Modal_WLTP_COLD_FWD_23C.xls
VELA2_06072017_002_Modal_DIL_WLTP_COLD START_4WD_23°C.xls
VELA2_07072017_001_Modal_DIL_WLTP_COLD START_4WD_23°C.xls
VELA2_01122017_001_Modal_TP_WLTC_COLD_FWD-sync_23°C.xlsx
VELA2_06122017_001_Modal_WLTC_COLD_FWD-sync_23°C.xlsx
VELA2_22082017_001_Modal_WLTC_COLD_FWD-sync_23°C.xls
VELA2_22082017_003_Modal_WLTC_COLD_FWD-sync_23°C.xls
VELA2_04082017_001_Modal_WLTC_COLD_4WD_23°C.xlsx
VELA2_05052017_001_Modal_DIL_WLTP_COLD_FWD-sync_23°C.xlsx
VELA2_17052017_001_Modal_DIL_WLTP_COLD_FWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,5169.800877,4093.722490,1801,336.764870,430.982098,300,4833.036007,3662.740393,1501
BMW_530d,427.307581,3443.343592,1801,56.575237,395.557338,300,370.732344,3047.786254,1501
BMW_530d,165.401070,3339.610580,1801,39.181656,385.334854,300,126.219415,2954.275726,1501
Citroen_Cactus,1234.077917,3300.707319,1801,430.642569,296.066673,300,803.435348,3004.640646,1501
Citroen_Cactus,1309.894326,3369.282199,1801,511.053035,308.780181,300,798.841291,3060.502018,1501
Fiat_500x,12649.858589,4421.309311,1801,470.697163,461.141060,300,12179.161425,3960.168251,1501
Fiat_500x,11444.969579,4382.226065,1801,388.164407,462.515045,300,11056.805172,3919.711020,1501
Kia_Sportage,4163.960828,3187.374600,1801,620.440245,342.098232,300,3543.520583,2845.276368,1501
Kia_Sportage,4432.978022,3108.989290,1800,554.467254,326.647028,300,3878.510768,2782.342261,1500
Peugeot_Partner,1155.042109,3290.439242,1801,342.604025,303.702016,300,812.438084,2986.737225,1501
Peugeot_Partner,1059.618682,3276.500394,1801,382.784801,304.170078,300,676.833881,2972.330316,1501
Porsche_Cayenne,3513.689701,5084.428525,1801,636.932796,572.871507,300,2876.756905,4511.557018,1501
VW_Golf,1196.753578,3105.628229,1801,119.542283,336.764612,300,1077.211295,2768.863617,1501
VW_Golf,1172.807335,3197.445916,1801,148.207347,385.203839,300,1024.599988,2812.242077,1501

In [26]:
lab_wltpcold_d=lab_wltpcold_d.groupby(lab_wltpcold_d['new index']).mean()
lab_wltpcold_d

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,5169.800877,4093.722490,1801.0,336.764870,430.982098,300.0,4833.036007,3662.740393,1501.0
BMW_530d,296.354326,3391.477086,1801.0,47.878447,390.446096,300.0,248.475879,3001.030990,1501.0
Citroen_Cactus,1271.986121,3334.994759,1801.0,470.847802,302.423427,300.0,801.138319,3032.571332,1501.0
Fiat_500x,12047.414084,4401.767688,1801.0,429.430785,461.828052,300.0,11617.983298,3939.939636,1501.0
Kia_Sportage,4298.469425,3148.181945,1800.5,587.453749,334.372630,300.0,3711.015675,2813.809315,1500.5
Peugeot_Partner,1107.330395,3283.469818,1801.0,362.694413,303.936047,300.0,744.635982,2979.533771,1501.0
Porsche_Cayenne,3513.689701,5084.428525,1801.0,636.932796,572.871507,300.0,2876.756905,4511.557018,1501.0
VW_Golf,1184.780456,3151.537072,1801.0,133.874815,360.984225,300.0,1050.905642,2790.552847,1501.0

In [27]:
### NEDC HOT ### 


dic_nedchot = {}
for file in glob.glob(die_coldhot + "*NEDC*HOT*.xl*"):            # THIS CAN BE XLS OR XLSX
    print(file.split('\\')[-1])
    df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
    df = df.dropna(axis=0, how='all')
    
    NOx = df['c_NOx_Dil_g_vec\n[grams]']
    NOx_sum = NOx.sum()*1000
    CO2 = df['c_CO2_Dil_g_vec\n[grams]']
    CO2_sum = CO2.sum()
    t = len(df.index)

    NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
    NOx_start_sum = NOx_start.sum()*1000
    CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
    CO2_start_sum = CO2_start.sum()
    t_start = 300

    NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
    NOx_end_sum = NOx_end.sum()*1000
    CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
    CO2_end_sum = CO2_end.sum()
    t_end = t - t_start
    
    dic_nedchot[file] = [NOx_sum,CO2_sum,t,
                        NOx_start_sum,CO2_start_sum,t_start,
                        NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary

lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_nedchot, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_nedchot_d = lab

lab_nedchot_d['new index'] = [i.split('\\')[-2] for i in lab_nedchot_d.index.values]
lab_nedchot_d.set_index('new index')

VELA2_14072016_003_Modal_NEDC_HOT_4WD_23C.xls
VELA2_15072016_005_Modal_NEDC_HOT_FWDsync_23C.xls
VELA2_03102017_002_Modal_NEDC_HOT_RWD-sync_23°C.xlsx
VELA2_29092017_002_Modal_NEDC_HOT_RWD-sync_23°C.xlsx
VELA2_01072016_002_Modal_TP_NEDC_HOT_FWD_23C.xls
VELA2_05072016_002_Modal_NEDC_HOT_FWD_23C.xls
VELA2_29062016_003_Modal_TP_NEDC_HOT_FWD_23C.xls
VELA2_05042017_003_Modal_DIL_NEDC_HOT START_4WD_23°C.xls
VELA2_06042017_002_Modal_DIL_NEDC_HOT START_4WD_23°C.xls
VELA2_30112017_002_Modal_TP_NEDC_HOT_FWD-sync_23°C.xlsx
VELA2_11082017_003_Modal_NEDC_HOT_FWD-sync_23°C.xls
VELA2_17082017_002_Modal_NEDC_HOT_FWD-sync_23°C.xls
VELA2_18082017_004_Modal_NEDC HOT_FWD-sync_23°C.xls
VELA2_21082017_005_Modal_NEDC_HOT_FWD-sync_23°C.xls
VELA2_09082017_002_Modal_NEDC_HOT_4WD_23°C.xlsx
VELA2_02052017_002_Modal_DIL_NEDC_HOT_FWD-sync_23°C.xlsx
VELA2_28042017_003_Modal_DIL_NEDC_HOT_FWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,1636.766750,1687.922553,1181,214.187151,250.782191,300,1422.579599,1437.140362,881
Audi_A3,943.935707,1554.067625,1181,78.391140,224.658617,300,865.544566,1329.409007,881
BMW_530d,117.797387,1496.233610,1181,2.809553,257.791880,300,114.987834,1238.441729,881
BMW_530d,140.515358,1491.861195,1181,7.713870,274.060655,300,132.801488,1217.800540,881
Citroen_Cactus,585.225787,1204.626545,1181,94.860836,178.479132,300,490.364952,1026.147413,881
Citroen_Cactus,100.068609,1200.374505,1181,47.154585,178.578524,300,52.914024,1021.795981,881
Citroen_Cactus,1738.003190,1264.315973,1181,227.807815,194.932754,300,1510.195375,1069.383219,881
Fiat_500x,2853.760637,1944.754005,1181,104.501034,282.145497,300,2749.259603,1662.608508,881
Fiat_500x,2690.472848,1923.992425,1181,20.194720,272.894817,300,2670.278128,1651.097608,881
Kia_Sportage,385.939740,1358.001696,1181,11.716205,214.588194,300,374.223535,1143.413502,881
Peugeot_Partner,94.181922,1229.912326,1181,57.152410,177.099868,300,37.029512,1052.812459,881
Peugeot_Partner,56.016546,1222.558117,1181,14.907679,169.265472,300,41.108867,1053.292645,881
Peugeot_Partner,172.855465,1255.896985,1181,88.017508,191.217685,300,84.837956,1064.679300,881
Peugeot_Partner,317.213265,1167.510886,1180,246.953149,163.023583,300,70.260116,1004.487303,880
Porsche_Cayenne,1469.158272,1950.063428,1180,185.647730,284.276910,300,1283.510542,1665.786519,880
VW_Golf,259.881189,1186.849395,1181,6.958475,182.500120,300,252.922714,1004.349275,881
VW_Golf,314.348128,1247.637984,1181,17.326948,224.398963,300,297.021180,1023.239021,881

In [28]:
lab_nedchot_d=lab_nedchot_d.groupby(lab_nedchot_d['new index']).mean()
lab_nedchot_d

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,1290.351228,1620.995089,1181.00,146.289146,237.720404,300.0,1144.062082,1383.274685,881.00
BMW_530d,129.156373,1494.047402,1181.00,5.261712,265.926267,300.0,123.894661,1228.121135,881.00
Citroen_Cactus,807.765862,1223.105674,1181.00,123.274412,183.996803,300.0,684.491450,1039.108871,881.00
Fiat_500x,2772.116743,1934.373215,1181.00,62.347877,277.520157,300.0,2709.768866,1656.853058,881.00
Kia_Sportage,385.939740,1358.001696,1181.00,11.716205,214.588194,300.0,374.223535,1143.413502,881.00
Peugeot_Partner,160.066799,1218.969579,1180.75,101.757687,175.151652,300.0,58.309113,1043.817927,880.75
Porsche_Cayenne,1469.158272,1950.063428,1180.00,185.647730,284.276910,300.0,1283.510542,1665.786519,880.00
VW_Golf,287.114659,1217.243690,1181.00,12.142712,203.449542,300.0,274.971947,1013.794148,881.00

In [29]:
### WLTP HOT ### 


dic_wltphot = {}
for file in glob.glob(die_coldhot + "*WLT*HOT*.xl*"):                                                          # THIS CAN BE XLS OR XLSX, check
    print(file.split('\\')[-1])
    df = pd.read_excel(file, sheetname = 'Data', header = 0, parse_cols = "A:BC")
    df = df.dropna(axis=0, how='all')
    
    NOx = df['c_NOx_Dil_g_vec\n[grams]']
    NOx_sum = NOx.sum()*1000
    CO2 = df['c_CO2_Dil_g_vec\n[grams]']
    CO2_sum = CO2.sum()
    t = len(df.index)

    NOx_start = df['c_NOx_Dil_g_vec\n[grams]'][0:300]
    NOx_start_sum = NOx_start.sum()*1000
    CO2_start = df['c_CO2_Dil_g_vec\n[grams]'][0:300]
    CO2_start_sum = CO2_start.sum()
    t_start = 300

    NOx_end = df['c_NOx_Dil_g_vec\n[grams]'][300:len(df.index)]
    NOx_end_sum = NOx_end.sum()*1000
    CO2_end = df['c_CO2_Dil_g_vec\n[grams]'][300:len(df.index)]
    CO2_end_sum = CO2_end.sum()
    t_end = t - t_start
    
    dic_wltphot[file] = [NOx_sum,CO2_sum,t,
                        NOx_start_sum,CO2_start_sum,t_start,
                        NOx_end_sum,CO2_end_sum,t_end]            # save means in the dictionary

lab = pd.DataFrame()                                     # convert dic to dataframe
lab = lab.from_dict(dic_wltphot, orient='index')             # proper order
lab.columns = ['NOx','CO2','t','NOx_start','CO2_start','t_start','NOx_end','CO2_end','t_end']               # headers
lab_wltphot_d = lab

lab_wltphot_d['new index'] = [i.split('\\')[-2] for i in lab_wltphot_d.index.values]
lab_wltphot_d.set_index('new index')

VELA2_13072016_003_Modal_WLTP_HOT_4WD_23C.xls
VELA2_06102017_002_Modal_WLTC_HOT_RWD-sync_23°C.xlsx
VELA2_09102017_002_Modal_WLTC_HOT_RWD-sync_23°C.xlsx
VELA2_01072016_004_Modal_TP_WLTP_HOT_FWD_23C.xls
VELA2_05072016_005_Modal_WLTP_HOT_FW_23C.xls
VELA2_06072016_003_Modal_WLTP_HOT_FWD_23C.xls
VELA2_30062016_002_Modal_TP_WLTP_HOT_FWD_23C.xls
VELA2_06072017_003_Modal_DIL_WLTP_HOT START_4WD_23°C.xls
VELA2_07072017_002_Modal_DIL_WLTP_HOT START_4WD_23°C.xls
VELA2_01122017_002_Modal_TP_WLTC_HOT_FWD-sync_23°C.xlsx
VELA2_01122017_006_Modal_TP_WLTC_HOT_FWD-sync_23°C.xlsx
VELA2_06122017_002_Modal_WLTC_HOT_FWD-sync_23°C.xlsx
VELA2_22082017_004_Modal_WLTC_HOT_FWD-sync_23°C.xls
VELA2_03082017_002_Modal_WLTC_HOT_4WD_23°C.xlsx
VELA2_04082017_002_Modal_WLTC_HOT_4WD_23°C.xlsx
VELA2_03052017_002_Modal_DIL_WLTP_HOT_FWD-sync_23°C.xlsx
VELA2_05052017_002_Modal_DIL_WLTP_HOT_FWD-sync_23°C.xlsx
VELA2_11052017_002_Modal_DIL_WLTP_HOT_FWD-sync_23°C.xlsx
VELA2_17052017_002_Modal_DIL_WLTP_HOT_FWD-sync_23°C.xlsx

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,7221.510118,4137.487140,1801,248.327529,366.530452,300,6973.182589,3770.956688,1501
BMW_530d,168.925889,3360.069116,1801,25.372454,376.975153,300,143.553435,2983.093963,1501
BMW_530d,279.267905,3412.173335,1801,11.908029,381.641694,300,267.359875,3030.531641,1501
Citroen_Cactus,550.009564,3311.800655,1801,117.235327,286.067565,300,432.774236,3025.733090,1501
Citroen_Cactus,1341.772804,3247.377876,1801,513.343502,273.973271,300,828.429302,2973.404606,1501
Citroen_Cactus,1221.394364,3287.102097,1800,573.002446,275.364216,300,648.391918,3011.737881,1500
Citroen_Cactus,482.589659,3318.592368,1801,181.981109,288.247672,300,300.608551,3030.344696,1501
Fiat_500x,14466.004394,4212.537299,1801,407.818895,385.493217,300,14058.185499,3827.044082,1501
Fiat_500x,15448.522138,4282.357473,1801,329.016411,381.518851,300,15119.505727,3900.838623,1501
Kia_Sportage,4056.420729,3087.723902,1801,375.620139,298.533513,300,3680.800590,2789.190389,1501
Kia_Sportage,3857.308433,3066.348376,1801,327.638548,290.569572,300,3529.669885,2775.778804,1501
Kia_Sportage,4159.159041,3055.606300,1801,334.808290,290.463418,300,3824.350751,2765.142882,1501
Peugeot_Partner,782.392695,3183.423175,1800,72.686311,268.704576,300,709.706384,2914.718599,1500
Porsche_Cayenne,3952.964211,4847.341607,1801,759.511143,467.435666,300,3193.453068,4379.905941,1501
Porsche_Cayenne,4792.963146,4970.550673,1801,761.311846,500.757992,300,4031.651300,4469.792681,1501
VW_Golf,1493.327739,3017.565851,1801,82.991618,327.178945,300,1410.336121,2690.386906,1501
VW_Golf,1018.771983,3001.073335,1801,73.955441,299.101773,300,944.816542,2701.971563,1501
VW_Golf,1039.318819,2999.328262,1801,45.221961,317.646819,300,994.096859,2681.681443,1501
VW_Golf,1145.571369,2994.705700,1801,51.318155,301.845520,300,1094.253214,2692.860180,1501

In [30]:
lab_wltphot_d=lab_wltphot_d.groupby(lab_wltphot_d['new index']).mean()
lab_wltphot_d

,NOx,CO2,t,NOx_start,CO2_start,t_start,NOx_end,CO2_end,t_end
new index,,,,,,,,,
Audi_A3,7221.510118,4137.487140,1801.00,248.327529,366.530452,300.0,6973.182589,3770.956688,1501.00
BMW_530d,224.096897,3386.121226,1801.00,18.640241,379.308423,300.0,205.456655,3006.812802,1501.00
Citroen_Cactus,898.941598,3291.218249,1800.75,346.390596,280.913181,300.0,552.551002,3010.305068,1500.75
Fiat_500x,14957.263266,4247.447386,1801.00,368.417653,383.506034,300.0,14588.845613,3863.941352,1501.00
Kia_Sportage,4024.296068,3069.892859,1801.00,346.022326,293.188834,300.0,3678.273742,2776.704025,1501.00
Peugeot_Partner,782.392695,3183.423175,1800.00,72.686311,268.704576,300.0,709.706384,2914.718599,1500.00
Porsche_Cayenne,4372.963678,4908.946140,1801.00,760.411494,484.096829,300.0,3612.552184,4424.849311,1501.00
VW_Golf,1174.247478,3003.168287,1801.00,63.371794,311.443264,300.0,1110.875684,2691.725023,1501.00

In [31]:
print('-------------------------------------------')
print('--------------- DIESEL NOx ----------------')
print('-------------------------------------------')
print('')

print('NEDC COLD (full test) = '+ str(round(lab_nedccold_d.NOx.mean(),2)) + ' mg')
print('NEDC COLD (start) = '+ str(round(lab_nedccold_d.NOx_start.mean(),2)) + ' mg')
print('NEDC COLD (start/full) = '+ 
      str(round(lab_nedccold_d.NOx_start.mean()*100/lab_nedccold_d.NOx.mean(),2)) + ' %')
print('')

print('NEDC HOT (full test) = '+ str(round(lab_nedchot_d.NOx.mean(),2)) + ' mg')
print('NEDC HOT (start) = '+ str(round(lab_nedchot_d.NOx_start.mean(),2)) + ' mg')
print('NEDC HOT (start/full) = '+ 
      str(round(lab_nedchot_d.NOx_start.mean()*100/lab_nedchot_d.NOx.mean(),2)) + ' %')
print('')
print('')#-------------------------------------------')
print('')

print('WLTP COLD (full test) = '+ str(round(lab_wltpcold_d.NOx.mean(),2)) + ' mg')
print('WLTP COLD (start) = '+ str(round(lab_wltpcold_d.NOx_start.mean(),2)) + ' mg')
print('WLTP COLD (start/full) = '+ 
      str(round(lab_wltpcold_d.NOx_start.mean()*100/lab_wltpcold_d.NOx.mean(),2)) + ' %')
print('')

print('WLTP HOT (full test) = '+ str(round(lab_wltphot_d.NOx.mean(),2)) + ' mg')
print('WLTP HOT (start) = '+ str(round(lab_wltphot_d.NOx_start.mean(),2)) + ' mg')
print('WLTP HOT (start/full) = '+ 
      str(round(lab_wltphot_d.NOx_start.mean()*100/lab_wltphot_d.NOx.mean(),2)) + ' %')
print('')
print('')
print('')

print('NEDC HOT/COLD = '+ str(round(lab_nedchot_d.NOx.mean()/lab_nedccold_d.NOx.mean(),2)) + ' ')
print('WLTP HOT/COLD = '+ str(round(lab_wltphot_d.NOx.mean()/lab_wltpcold_d.NOx.mean(),2)) + ' ')
print('')
print('WLTP/NEDC COLD = '+ str(round(lab_wltpcold_d.NOx.mean()/lab_nedccold_d.NOx.mean(),2)) + ' (double distance)')
print('WLTP/NEDC HOT = '+ str(round(lab_wltphot_d.NOx.mean()/lab_nedchot_d.NOx.mean(),2)) + ' (double distance)')

-------------------------------------------
--------------- DIESEL NOx ----------------
-------------------------------------------

NEDC COLD (full test) = 591.86 mg
NEDC COLD (start) = 105.3 mg
NEDC COLD (start/full) = 17.79 %

NEDC HOT (full test) = 912.71 mg
NEDC HOT (start) = 81.05 mg
NEDC HOT (start/full) = 8.88 %



WLTP COLD (full test) = 3611.23 mg
WLTP COLD (start) = 375.73 mg
WLTP COLD (start/full) = 10.4 %

WLTP HOT (full test) = 4206.96 mg
WLTP HOT (start) = 278.03 mg
WLTP HOT (start/full) = 6.61 %



NEDC HOT/COLD = 1.54
WLTP HOT/COLD = 1.16

WLTP/NEDC COLD = 6.1 (double distance)
WLTP/NEDC HOT = 4.61 (double distance)

In [32]:
print('-------------------------------------------')
print('--------------- DIESEL CO2 ----------------')
print('-------------------------------------------')
print('')

print('NEDC COLD (full test) = '+ str(round(lab_nedccold_d.CO2.mean(),0)) + ' m')
print('NEDC COLD (start) = '+ str(round(lab_nedccold_d.CO2_start.mean(),0)) + ' m')
print('NEDC COLD (start/full) = '+ 
      str(round(lab_nedccold_d.CO2_start.mean()*100/lab_nedccold_d.CO2.mean(),1)) + ' %')
print('')

print('NEDC HOT (full test) = '+ str(round(lab_nedchot_d.CO2.mean(),0)) + ' g')
print('NEDC HOT (start) = '+ str(round(lab_nedchot_d.CO2_start.mean(),0)) + ' g')
print('NEDC HOT (start/full) = '+ 
      str(round(lab_nedchot_d.CO2_start.mean()*100/lab_nedchot_d.CO2.mean(),1)) + ' %')
print('')
print('')#-------------------------------------------')
print('')

print('WLTP COLD (full test) = '+ str(round(lab_wltpcold_d.CO2.mean(),0)) + ' g')
print('WLTP COLD (start) = '+ str(round(lab_wltpcold_d.CO2_start.mean(),0)) + ' g')
print('WLTP COLD (start/full) = '+ 
      str(round(lab_wltpcold_d.CO2_start.mean()*100/lab_wltpcold_d.CO2.mean(),1)) + ' %')
print('')

print('WLTP HOT (full test) = '+ str(round(lab_wltphot_d.CO2.mean(),0)) + ' g')
print('WLTP HOT (start) = '+ str(round(lab_wltphot_d.CO2_start.mean(),0)) + ' g')
print('WLTP HOT (start/full) = '+ 
      str(round(lab_wltphot_d.CO2_start.mean()*100/lab_wltphot_d.CO2.mean(),1)) + ' %')
print('')
print('')
print('')

print('NEDC HOT/COLD = '+ str(round(lab_nedchot_d.CO2.mean()/lab_nedccold_d.CO2.mean(),2)) + ' ')
print('WLTP HOT/COLD = '+ str(round(lab_wltphot_d.CO2.mean()/lab_wltpcold_d.CO2.mean(),2)) + ' ')
print('')
print('WLTP/NEDC COLD = '+ str(round(lab_wltpcold_d.CO2.mean()/lab_nedccold_d.CO2.mean(),2)) + ' (double distance)')
print('WLTP/NEDC HOT = '+ str(round(lab_wltphot_d.CO2.mean()/lab_nedchot_d.CO2.mean(),2)) + ' (double distance)')

-------------------------------------------
--------------- DIESEL CO2 ----------------
-------------------------------------------

NEDC COLD (full test) = 1597.0 m
NEDC COLD (start) = 270.0 m
NEDC COLD (start/full) = 16.9 %

NEDC HOT (full test) = 1502.0 g
NEDC HOT (start) = 230.0 g
NEDC HOT (start/full) = 15.3 %



WLTP COLD (full test) = 3736.0 g
WLTP COLD (start) = 395.0 g
WLTP COLD (start/full) = 10.6 %

WLTP HOT (full test) = 3653.0 g
WLTP HOT (start) = 346.0 g
WLTP HOT (start/full) = 9.5 %



NEDC HOT/COLD = 0.94
WLTP HOT/COLD = 0.98

WLTP/NEDC COLD = 2.34 (double distance)
WLTP/NEDC HOT = 2.43 (double distance)

In [188]:
lab_nedchot_d.NOx/lab_nedccold_d.NOx

new index
Audi_A3            1.406566
BMW_530d           0.785714
Citroen_Cactus     2.516543
Fiat_500x          1.303760
Kia_Sportage       0.906141
Peugeot_Partner    1.076653
Porsche_Cayenne    3.235204
VW_Golf            1.620515
Name: NOx, dtype: float64

In [189]:
lab_nedchot_d.NOx

new index
Audi_A3            1290.351228
BMW_530d            129.156373
Citroen_Cactus      807.765862
Fiat_500x          2772.116743
Kia_Sportage        385.939740
Peugeot_Partner     160.066799
Porsche_Cayenne    1469.158272
VW_Golf             287.114659
Name: NOx, dtype: float64

In [190]:
lab_nedccold_d.NOx

new index
Audi_A3             917.376973
BMW_530d            164.380991
Citroen_Cactus      320.982317
Fiat_500x          2126.247101
Kia_Sportage        425.915538
Peugeot_Partner     148.670713
Porsche_Cayenne     454.116122
VW_Golf             177.174926
Name: NOx, dtype: float64

In [26]:
lab_nedchot_g.NOx/lab_nedccold_g.NOx

new index
Audi_A1           0.282418
Fiat_Panda        0.800612
Opel_Astra        0.846159
Renault_Twingo    1.166364
Name: NOx, dtype: float64

In [30]:
lab_nedccold_d.NOx/11 # mg/km

new index
Audi_A3             83.397907
BMW_530d            14.943726
Citroen_Cactus      29.180211
Fiat_500x          193.295191
Kia_Sportage        38.719594
Peugeot_Partner     13.515519
Porsche_Cayenne     41.283284
VW_Golf             16.106811
Name: NOx, dtype: float64

In [31]:
lab_wltpcold_d.NOx/23 # mg/km

new index
Audi_A3            224.773951
BMW_530d            12.884971
Citroen_Cactus      55.303744
Fiat_500x          523.800612
Kia_Sportage       186.889975
Peugeot_Partner     48.144800
Porsche_Cayenne    152.769117
VW_Golf             51.512194
Name: NOx, dtype: float64